

 img{ vertical-align: top;}
.global-footer{ margin-top: 0;}

.text-box{ color: #fae9be; }
.text-box .title{ font-size: 44px; line-height: 60px; font-weight: bold}
.motop30-logo{ float: left; margin-top: 12px; }
.motop30-logo img{ height: 25px; }

.txt-item .font50s{ margin-top: 9px; font-size: 16px; color: #333;}

.bottom-section .wrapper{ height: 350px; }
.bottom-section .text-box{ padding-top: 128px;}
.bottom-section .link-other{ color: #fae9be !important; display: inline-block; text-decoration: none;}

.o-bg1{ background-color: #fff; }
.o-bg1 .wrapper{ 
display: block;
margin: 0 auto;
height: 849px;
 }

.o-bg1 .text-box{ padding: 309px 0 0 70px; }
.o-bg1 .text-box .txt{ margin-top: 37px; color: #7c7b7b; }

.o-bg2{ background-color: #533424; background-image:url(../img/e5gaisu/fk.png); background-repeat: repeat; }
.o-bg2 .wrapper{ height: 430px; overflow: hidden;}
.o-bg2 .txt-item{ margin-top: 0; position: relative; top: -1px; left: -1px;}
.o-bg2 .txt-item li{ width: 299px; height: 131px; padding-top: 84px; float: left; text-align: center; border-top: 1px solid #634a42; border-left: 1px solid #634a42;}
.o-bg2 .txt-item .font40s{ color: #f7e7bd; }
.o-bg2 .txt-item .font50s{ margin-top: 12px; color: #91775c; }

.o-bg3,.o-bg4{ background-color: #1a1610; }
.o-bg3 .wrapper{ height: 965px; }
.o-bg3 .text-box,.o-bg4 .text-box{ padding-top: 86px; width: 675px; margin: 0 auto; text-align: center; }
.o-bg3 .picbox{ position: absolute; top: 317px; left: 160px; }
.o-bg3 .picbox img{ opacity: 0; -webkit-transform: translate3d(-50px,0,0); transform: translate3d(-50px,0,0); }

.o-bg3 .o-animte1 img{
	opacity: 1;
	-webkit-transform: none; transform: none;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
}
.o-bg4 .wrapper{ height: 848px; }
.o-bg4 .text-box{ padding-top: 100px;}
.loss-parameters{padding: 79px 0 0 100px;}
.loss-parameters li{ padding-top: 16px; height: 36px; line-height: 36px; font-size: 16px; color: #ccc;}
.loss-parameters li .txt{ float: left; width: 117px; opacity: 0; vertical-align: middle;}
.loss-parameters li .bar{ float: left; width: 826px; height: 8px; margin-top: 14px; opacity: 0;}
.loss-parameters li .bar span{ display: block; height: 8px; overflow: hidden; background: #fae4c2; border-radius: 4px; background: -webkit-linear-gradient(left, #fae5c3, #dfb674); background: -o-linear-gradient(right, #fae5c3, #dfb674); background: -moz-linear-gradient(right, #fae5c3, #dfb674); background: linear-gradient(to right, #fae5c3, #dfb674); width: 0; transition: all linear 1s} 
.loss-parameters li .time{ float: left; color: #fae9be; font-size: 20px; opacity: 0;}
.loss-parameters li .time em{ font-weight: normal; font-size: 30px }

.o-animte2 li .txt{
	opacity: 1;
}
.o-animte2 li .bar{
	opacity: 1;
	
}
.o-animte2 li .time{
	opacity: 1;
	-webkit-transition-delay: 1s;
	transition-delay: 1s
}
.o-animte2 .item1 .bar span{ width: 144px; }
.o-animte2 .item2 .bar span{ width: 199px; }
.o-animte2 .item3 .bar span{ width: 421px; }
.o-animte2 .item4 .bar span{ width: 496px; }
.o-animte2 .item5 .bar span{ width: 694px; }
.o-animte2 .item6 .bar span{ width: 770px; }

.g-pic .bx-wrapper .bx-pager.bx-default-pager a,.g-pic .bx-wrapper .bx-pager.bx-default-pager a:hover{ width: 179px; height: 5px; background-color: #d6d6d6; border: none; border-radius: 0;}
.g-pic .bx-wrapper .bx-pager.bx-default-pager a.active{ width: 179px; height: 5px; background: #000; border-color: transparent}

.o-bg5{ background-color: #fff; }
.o-bg5 .wrapper{ height: 943px; }
.o-bg5 .pic-box{ position: absolute; top: 0; left: 50%; width: 2560px; margin-left: -1280px; height: 814px; }
.o-bg5 .pic-box .text-box{ position: absolute; bottom: 94px; left: 50%; margin-left: -350px; width: 700px; text-align: center; }
.o-bg5 .bx-wrapper .bx-pager{ bottom: -74px; }

.o-bg6{ background-color: #181007; }
.o-bg6 .wrapper{ height: 839px; }
.o-bg6 .text-box{ padding-top: 500px; width: 670px; margin: 0 auto; text-align: center; }

.o-bg7{ background-color: #15100a; }
.o-bg7 .wrapper{ height: 680px; }
.o-bg7 .text-box{ position: absolute; top: 217px; right: 99px; width: 382px; text-align: right; }

.o-bg8{ background-color: #000; }
.o-bg8 .wrapper{ height: 1037px; }
.o-bg8 .text-box{ padding-top: 112px; width: 680px; margin: 0 auto; text-align: center; }

.o-bg9{ background-color: #fff; }
.o-bg9 .wrapper{ height: 185px; }
.o-bg9 .txt-item{ padding-top: 54px; margin-top: 0;}
.o-bg9 .txt-item li{ width: 360px; text-align: center; }
.o-bg9 .txt-item .middle{ margin: 0 60px; }

.o-bg10,.o-bg11{ background-color: #1b1610; }
.o-bg10 .wrapper{ height: 1030px; }
.o-bg10 .text-box{ position: absolute; top: 380px; right: 100px; width: 368px; text-align: right; }

.o-bg11 .wrapper{ height: 971px; }
.o-bg11 .text-box{ padding-top: 130px; width: 680px; margin: 0 auto; text-align: center; }

.o-bg12{ background-color: #251a0e; }
.o-bg12 .wrapper{ height: 863px; }
.o-bg12 .text-box{ padding-top: 84px; width: 670px; margin: 0 auto; text-align: center;}

.o-bg13{ background-color: #0c080b; }
.o-bg13 .wrapper{ height: 1088px; }
.o-bg13 .text-box{ padding-top: 84px; width: 670px; margin: 0 auto; text-align: center; }

.o-bg14{ background-color: #fff;}
.o-bg14 .wrapper{ height: 1000px;}
.o-bg14 .bxslider .big-pic{ margin-top: 80px; width: 1105px; height: 828px;}
.o-bg14 .bxslider li{ width: 1105px !important;}
.o-bg14 .bx-controls-direction{ width: 1200px; margin-left: -600px;}
.o-bg14 .bx-wrapper .bx-pager.bx-default-pager a,.o-bg14 .bx-wrapper .bx-pager.bx-default-pager a:hover{ width: 7px; height: 7px; background-color: #b3b3b3; border: none; border-radius: 0;}
.o-bg14 .bx-wrapper .bx-pager.bx-default-pager a.active{ width: 11px; height: 11px; background: #000; border-color: transparent}
.o-bg14 .bx-wrapper{ width: 3495px; margin-left: -1660px;}
.change-wrap .bx-wrapper .bx-pager{ bottom: -50px;}
.o-bg14 .bx-controls-direction a{ top: -369px !important;}

.o-bg15{ background-color: #0f0f0a; }
.o-bg15 .wrapper{ height: 919px; }
.o-bg15 .text-box{ padding-top: 190px; width: 485px; margin: 0 auto; text-align: center; }

.o-bg16{ background-color: #010100; }
.o-bg16 .wrapper{ height: 1020px; }
.o-bg16 .text-box{ padding-top: 82px; width: 514px; margin: 0 auto; text-align: center; }
.o-bg16 .txt-item{ position: absolute; bottom: 95px; left: 50%; width: 750px; margin-left: -375px; }
.o-bg16 .txt-item li{ width: 250px; text-align: center; }
.o-bg16 .txt-item .font40s{ font-weight: bold }
.o-bg16 .txt-item .font50s,.o-bg16 .txt-item .font40s{ color: #dbc092; }

.o-bg17{ background-color: #2e1e0f; }
.o-bg17 .wrapper{ height: 811px; }
.o-bg17 .text-box{ padding-top: 565px; width: 686px; margin: 0 auto; text-align: center; }

.o-bg18{ background-color: #120d08; }
.o-bg18 .wrapper{ height: 1056px; }
.o-bg18 .text-box{ padding: 392px 0 0 100px; width: 410px; }
.o-bg18 .text-box .txt{ padding-right: 20px; }

.o-bg19{ background-color: #261c0d; }
.o-bg19 .wrapper{ height: 753px; }
.o-bg19 .text-box{ padding-top: 507px; width: 690px; margin: 0 auto; text-align: center; }

.o-bg20{ background-color: #1a140d; }
.o-bg20 .wrapper{ height: 927px; }
.o-bg20 .text-box{ padding-top: 246px; padding-left: 94px; width: 500px; }
.o-bg20 .text-box .txt{ width: 380px; }
.o-bg20 .tab-icon{ margin-top: 45px; position: relative; z-index: 5; margin-left: -20px;}
.o-bg20 .tab-icon a{ float: left; width: 120px; text-align: center; font-size: 16px; color: #927659; cursor: pointer;}
.o-bg20 .tab-icon a span{ margin: 0 auto; display: block; width: 74px; height: 74px; background:url(../img/e5gaisu/41.png) no-repeat; }
.o-bg20 .tab-icon a p{ margin-top: 12px; line-height: 30px; }
.o-bg20 .tab-icon a .icon1{ background-position: 0 0; }
.o-bg20 .tab-icon a .icon2{ background-position: 0 -168px; }
.o-bg20 .tab-icon a .icon3{ background-position: 0 -336px; }
.o-bg20 .tab-icon a .icon4{ background-position: 0 -504px; }
.o-bg20 .tab-icon .active{ color: #f7e7b9; } 
.o-bg20 .tab-icon .active .icon1{ background-position: 0 -84px; }
.o-bg20 .tab-icon .active .icon2{ background-position: 0 -252px; }
.o-bg20 .tab-icon .active .icon3{ background-position: 0 -420px; }
.o-bg20 .tab-icon .active .icon4{ background-position: 0 -588px; }
.o-bg20 .pic1{ position: absolute; top: 139px; right: -332px; }
.o-bg20 .pic-box{ position: absolute; top: 165px; right: 143px; width: 496px; height: 544; }
.o-bg20 .bx-viewport{ background: transparent; }

.o-bg21{ background-color: #0c1723; }
.o-bg21 .wrapper{ height: 1020px; }
.o-bg21 .text-box{ position: absolute; top: 420px; right: 100px; width: 385px; text-align: right;}
.o-bg21 .picbox{ position: absolute; top: 110px; left: 100px; -webkit-transform: translate3d(0,50px,0); transform: translate3d(0,50px,0);}

.o-bg22{ background-color: #20160c; }
.o-bg22 .wrapper{ height: 949px; }
.o-bg22 .text-box{ padding-top: 86px; width: 680px; margin: 0 auto; text-align: center; }
.o-bg22 .picbox{ position: absolute; top: 300px; left: -40px; -webkit-transform: translate3d(0,50px,0); transform: translate3d(0,50px,0);}
.o-bg21 .o-animte3,.o-bg22 .o-animte4{
	-webkit-transform: none; transform: none;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
}


.o-bg23{ background-color: #31363d; background-image: url(../images/motoe5/overview/o-bg24.png); background-repeat: repeat;}
.o-bg23 .wrapper{ height: 650px; }
.o-bg23 .text-box{ padding-top: 64px; width: 670px; margin: 0 auto; text-align: center; }
.o-bg23 .sale-point{ margin: 70px auto 0;  width: 780px;}
.o-bg23 .sale-point li{ float: left; width: 180px; margin: 0 40px; text-align: center;}
.o-bg23 .sale-point li span{ display: block; margin-top: 16px; color: #fae9be; line-height: 24px; font-size: 16px}

.o-bg24{ background-color: #1f1e0a; }
.o-bg24 .wrapper{ height: 1021px; }
.o-bg24 .text-box{ padding-top: 84px; width: 680px; margin: 0 auto; text-align: center; }

.o-bg25{ background-color: #f5f5f5;}
.o-bg25 .wrapper{ padding: 15px 0 80px; }
.o-bg25 .tips-box{ margin: 58px auto 0; width: 984px; line-height: 30px; font-size: 14px;}
.o-bg25 .tips-box h3{ margin-bottom: 16px; font-size: 18px; font-weight: bold }

.o-bg26{ background-color: #181107; }




/* gallery */
.g-bg1{ height: 780px; background-color: #22180d; }
.g-bg2{ background-color: #1c110a; }
.g-bg2 .wrapper{ height: 914px;}
.g-bg2 .text-box{ position: absolute; top: 394px; right: 100px; width: 433px; }

.g-bg3{ background-color: #1c110a; padding: 90px 0 100px;}
.g-bg3 .text-box{ width: 970px; margin: 0 auto; text-align: center; }
.g-bg3 img{ margin-top: 60px; }
.g-btm{ background-color: #22180d; }


/* specs */
.specs-top .motoz-pic{width: 490px; height: 585px; overflow: hidden; float: left;}
.color-change-wrap a{ float: left; margin-right: 80px; width: 46px; text-align: center;}
.color-change-wrap a span{ display: block; width: 46px; padding-top: 60px; font-size: 14px; line-height: 24px; background: url(../images/motoe5/specs/btn.png) no-repeat; text-align: center;}
.color-change-wrap .active span{ color: #10bad0;}
.color-change-wrap a .item1{ background-position: 0 0;}
.color-change-wrap a .item2{ background-position: -112px 0;}
.color-change-wrap a .item3{ background-position: -224px 0;}
.color-change-wrap .active .item1{ background-position: -56px 0;}
.color-change-wrap .active .item2{ background-position: -168px 0;}
.color-change-wrap .active .item3{ background-position: -280px 0;}







