.headera {
    height: 70px;
    background: #1f2c30;
    position: relative;
}

.headera_log {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}

.headera_wrap {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

.headera_wlog {
    float: left;
    margin-top: 15px;
    width: 40px;
    height: 40px;
}

.headera_wlog img{
    width: 100%;
    height: 100%;
}

.headera_wwrap {
    float: left;
    padding: 15px 0 0 23px;
    height: 55px;
}

.headera_wwrap .pull_down {
    position: relative;
    height: 55px;
}

.headera_wwrap .pull_down_sj {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    display: none;
}

.headera_wwrap li {
    float: left;
    padding: 0 38px;
    line-height: 40px;
    font-size: 16px;
    position: relative;
}

.headera_wwrap li a:hover {
    color: rgb(16, 186, 209);
}

.headera_wwrap li a {
    color: #fff;
}

/* 登录之前 */

.loginaa_center {
    padding-top: 26px;
    float: right;
    /* display: none; */
}

.loginaa_center li {
    float: left;
    position: relative;
}

.loginaa_center li a {
    margin-left: 30px;
    display: block;
    cursor: pointer;
    color: #fff;
}

.loginaa_center li a:hover {
    color: rgb(16, 186, 209);
}

.loginaa_center li a i {
    font-size: 20px;
}

/* 登录之后 */

.loginab_center {
    padding-top: 26px;
    float: right;
    display: none;
}

.loginab_center>li {
    float: left;
    position: relative;
}

.loginab_center .yonghuoa {
    margin-top: 4px;
}

.loginab_center>li>a {
    margin-left: 30px;
    display: block;
    cursor: pointer;
    color: #fff;
    height: 40px;
}

.loginab_center>li .icon-gouwuche2:hover {
    color: rgb(16, 186, 209);
}

.loginab_center>li>a .icon-gouwuche2 {
    font-size: 20px;
}

.yuhuoa_xiala {
    display: none;
    position: absolute;
    top: 40px;
    width: 100px;
    left: 50%;
    margin-left: -37px;
    background: #fff;
    border: 1px solid #e6e6e6;
    z-index: 100000;
}

.yuhuoa_xiala span {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    overflow: hidden;
}

.yuhuoa_xiala>a {
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    color: #121212;
    font-size: 12px;
}
.yuhuoa_xiala>a:hover{
    background: rgb(16,186,209);
}

/* 下拉列表 */

.headera_ww {
    background: #fff;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 200px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    display: none;
    z-index: 100;
}

.headera_ww_top {
    width: 1130px;
    height: 200px;
    margin: 0 auto;
    padding-left: 50px;
}

.headera_ww_top .h_w_one {
    display: block;
    float: left;
    margin-left: 20px;
    width: 185px;
    line-height: 24px;
    overflow: hidden;
}

.h_w_one dt {
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.h_w_one dd {
    display: block;
    margin-top: 3px;
}

.h_w_one dd a {
    color: black;
    font-size: 10px;
}

.headera_ww_top .h_w_two {
    float: right;
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 140px;
    overflow: hidden;
}

.h_w_two a {
    display: block;
}

.h_w_two span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    font-size: 10px;
}

.headera_one{
    width: 100%;
    height: 50px;
    z-index: 8;
    color: #121212;
    background-color: rgba(255,255,255,0.9);
}
.headera_one .headeraone{
    width: 1200px;
    margin:0 auto ;
}

.headeraone img{
    float: left;
    margin-top: 12px;
}

.headeraone .headeraone_a{
    float: right;
    margin: 10px 0 0;
    font: 14px/30px "microsoft yahei";
}

.headeraone_a a{
    display: inline-block;
    margin-left: 26px;
    color: #121212;
}

.headeraone_a a:nth-of-type(5){
    color: #10bad0;
}

.headeraone_a a:last-of-type{
    margin-left: 36px;
    width: 84px;
    height: 30px;
    background-color: #10bad0;
    text-align: center;
    border-radius: 2px;
    color: #fff;
}

.headeraone_a a:hover{
    color: #10bad0;
}


/* 登录窗口 */

.maska {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
    display: none;
}

.logina {
    width: 440px;
    height: 400px;
    margin: -200px 0 0 -220px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    background: #fff;
    z-index: 10000;
    display: none;
}

.logina .logina_headera {
    height: 58px;
    padding: 0 29px;
    background-color: #f1f1f1;
}

.logina .logina_headera h3 {
    font-size: 16px;
    line-height: 58px;
    color: #121212;
    font-weight: 400;
}

.logina .logina_headera a {
    position: absolute;
    display: block;
    top: 16px;
    right: 29px;
    width: 16px;
    height: 16px;
    font-size: 20px;
    color: rgb(140, 140, 140);
}

.logina_center {
    padding: 15px 7% 20px;
    position: relative;
}

.logina_center .logina_center_logina {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0;
}

.logina_center_logina a {
    display: inline-block;
    width: 50%;
    border-bottom: 2px solid #bbb;
    padding-bottom: 5px;
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: none;
}

.logina_center_logina .logina_login {
    color: #10bad0;
    border-bottom: 3px solid #10bad0;
}

/* 登录模块 */

.logina_module {
    position: absolute;
    top: 50px;
    left: 29px;
    width: 382px;
    /* display: none; */
}

.logina_center .logina_center_ipt {
    margin-bottom: 5px;
}

.logina_center_ipt .loginac_ipt_use {
    height: 33px;
    border: 1px solid #ccc!important;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;
}

.loginac_ipt_use span {
    border-right: 1px solid #ccc;
    width: 14%;
    height: 100%;
    text-align: center;
    display: block;
    float: left;
}

.loginac_ipt_use span i {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: rgb(187, 187, 187);
}

.loginac_ipt_user input {
    padding: 0 0 0 10px;
    width: 81%;
    height: 33px;
    font-size: 15px;
    border: none;
    float: left;
    display: block;
}

.loginac_ipt_user i {
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    display: none;
}

.logina_center_ipt .loginac_ipt_pass {
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;
}

.loginac_ipt_pass span {
    border-right: 1px solid #ccc;
    width: 14%;
    height: 100%;
    text-align: center;
    display: block;
    float: left;
}

.loginac_ipt_pass span i {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: rgb(187, 187, 187);
}

.loginac_ipt_password input {
    padding: 0 0 0 10px;
    width: 81%;
    height: 33px;
    font-size: 15px;
    border: none;
    float: left;
    display: block;
}

.loginac_ipt_password i {
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    display: none;
}

.loginac_ipt_password u {
    position: absolute;
    right: 36px;
    top: 13px;
    cursor: pointer;
    display: none;
}

.logina_center .logina_center_bot {
    margin-bottom: 5px;
}

.logina_center_bot .logina_cb_left {
    float: left;
    font-size: 14px;
}

.logina_cb_left input {
    margin-top: 2px;
}

.logina_cb_right {
    float: right;
    font-size: 14px;
}

.logina_cb_right a {
    color: #10bad0;
}

.loginaTxt {
    margin: 5px 0;
    height: 20px;
    width: 100%;
}

.logina_center .logina_check button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    color: #fff;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    background: #10bad0;
}

#idqq {
    text-align: center;
    position: relative;
    color: #666;
}

#idqq .logina_idqq {
    padding-top: 14px;
}

.logina_idqq a {
    margin: 0 12px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.logina_idqq a img {
    padding-right: 6px;
    display: block;
    float: left;
}

/* 注册模块 */

.loginadda_module {
    position: absolute;
    top: 50px;
    left: 29px;
    width: 382px;
    display: none;
}

.logina_center .loginadda_module_center {
    margin-bottom: 5px;
}

.loginadda_module_center .loginaddam_ipt_use {
    height: 33px;
    border: 1px solid #ccc!important;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;
}

.loginaddam_ipt_use span {
    border-right: 1px solid #ccc;
    width: 14%;
    height: 100%;
    text-align: center;
    display: block;
    float: left;
}

.loginaddam_ipt_use span i {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: rgb(187, 187, 187);
}

.loginaddam_ipt_user input {
    padding: 0 0 0 10px;
    width: 81%;
    height: 33px;
    font-size: 15px;
    border: none;
    float: left;
    display: block;
}

.loginaddam_ipt_user i {
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    display: none;
}

.loginadda_module_center .loginaddam_ipt_pass {
    height: 33px;
    border: 1px solid #ccc!important;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;
}

.loginaddam_ipt_pass span {
    border-right: 1px solid #ccc;
    width: 14%;
    height: 100%;
    text-align: center;
    display: block;
    float: left;
}

.loginaddam_ipt_pass span i {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: rgb(187, 187, 187);
}

.loginaddam_ipt_password input {
    padding: 0 0 0 10px;
    width: 81%;
    height: 33px;
    font-size: 14px;
    border: none;
    float: left;
    display: block;
}

.loginaddam_ipt_password i {
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    display: none;
}

.loginaddam_ipt_password u {
    position: absolute;
    right: 35px;
    top: 13px;
    cursor: pointer;
    display: none;
}

.loginadda_module_center .loginaddam_ipt_check {
    height: 25px;
    border: 1px solid #ccc!important;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px 0;
    position: relative;
    width: 40%;
    float: left;
}

.loginaddam_ipt_check span {
    border-right: 1px solid #ccc;
    width: 28%;
    height: 100%;
    text-align: center;
    display: block;
    float: left;
}

.loginaddam_ipt_check span i {
    font-size: 23px;
    color: rgb(187, 187, 187);
}

.loginaddam_ipt_checked input {
    padding: 0 0 0 10px;
    width: 62%;
    height: 28px;
    font-size: 15px;
    border: none;
    float: left;
    display: block;
}

.loginaddam_ipt_checked p {
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;
    display: none;
}

.lodinaddam_span {
    margin-bottom: 10px;
}

.checkeda_check {
    height: 37px;
    line-height: 37px;
    width: 20%;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
}

.lodinaddam_span_check {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

.loginadda_spanchenchk {
    float: left;
}

.loginadda_txt {
    height: 17px;
    width: 100%;
    margin-bottom: 5px;
}

.loginadda_spanchenchk .add {
    margin-bottom: 10px;
    display: block;
    width: 382px;
    border: none;
    margin-bottom: 10px;
    color: #fff;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    background: #10bad0;
}

.loginadda_module>p {
    display: block;
    float: left;
    font-size: 14px;
}

/* 底部 */

.footera_one {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #354347;
}

.footera_footer {
    margin: 0 auto;
    width: 1200px;
    margin-top: 40px;
}

.footera_fwrap {
    padding: 30px 0 30px;
    width: 1200px;
}

.footera_boottom_logo {
    float: left;
    width: 80px;
    margin-top: 42px;
}

.footera_fwrap dl {
    float: left;
    color: #fff;
    width: 205px;
}

.footera_fwrap dl dt {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #6b7476;
}

.footera_fwrap dl dd {
    margin-top: 4px;
    line-height: 26px;
}

.footera_fwrap dl dd a {
    display: inline-block;
    color: #6b7476;
}

.footera_fwrap dl dd a:hover {
    color: rgb(16, 186, 209);
}

.footera_btm_one {
    margin-left: 239px;
}


.footera_fwrap .footera_btm_two {
    width: 60px;
}

.footera_boottom_logo {
    text-align: center;
}

.footera_boottom_logo img{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.footera_btm_two .footera_btm_weixin {
    position: relative;
}

.footera_btm_weixin .footera_btm_wxph {
    position: absolute;
    top: -132px;
    left: 50%;
    margin-left: -72px;
    width: 118px;
    height: 115px;
    padding: 8px;
    background: #fff;
    border: 1px solid #e6e6e6;
    display: none;
    overflow: hidden;
}

.footera_btm_wxph img {
    border: 0;
}

.footera_btm_weixin:hover .footera_btm_wxph {
    display: block;
}
.footera_two{
    width: 100%;
    background: #1f2c30;
}



.footera_two .footera_footer_bottom {
    height: 87px;
    color: #747F80;
    width: 1200px;
    margin:0 auto;
}

.footera_footer_bottom .footera_footer_bone {
    float: left;
    margin-top: 15px;
    font-size: 12px;
}

.footera_footer_bone>div {
    margin-bottom: 4px;
}

.footera_footer_bone>div>img {
    margin-right: 5px;
}

.footera_footer_bone>div>span {
    padding: 0 9px;
}

.footera_footer_bone a {
    color: #747F80;
}

.footera_footer_bone a:hover {
    color: rgb(16, 186, 209);
}

.footera_footer_bottom .footera_footer_btwo {
    position: relative;
    float: right;
    margin-top: 24px;
    text-align: right;
    color: #6b7476;
}

.mods-logo {
    float: left;
    font: 22px/50px "microsoft yahei";
}

.footera_footer_btwo>div {
    float: left;
    margin-right: 20px;
}

.footera_footer_btwo>div>span {
    display: block;
    font-size: 20px;
    line-height: 22px;
    font-family: arial;
}

.footera_footer_btwo>div>p {
    line-height: 18px;
    display: block;
}

.footera_footer_btwo>a {
    float: right;
}



.h-bg1{
background-color: #f5883a;
margin-top:50px;
background: url('../img/03.jpg') center no-repeat ;
animation: translateUp 2.5s linear;
}
.section {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
}
.h-bg1  .wrapper{
 margin:0 74.5px;
 height:740px;    /*一定要有高度,不然背景图片出不来 */
}
.section .wrapper {
    position: relative;
}

.wrapper {
    width: 1200px;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
}
.h-bg1  .pic1 {
    position: absolute;
    bottom: 0;
    right: -604px;
    /*-webkit-animation: translateUp 2.5s linear; */
    /*animation: translateUp 2.5s linear;  */
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: translateUp;
}

.h-bg1 .text-box {
    padding: 228px 0 0 78px;
    color: #fff;
}
.h-bg1 .text-box .title {
    margin-top: 12px;
    font-size: 48px;
    color: #ffe927;
    margin:12px 0 0;
}
.text-box .title {
    font-size: 40px;
}
.text-box .title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 100;
}
.h-bg1 .text-box .txt {
    margin-top: 18px;
    font-size: 18px;
}

.text-box .txt {
    line-height: 28px;
}
.h-bg2 .wrapper{
 height:652px;
}
.h-bg2 video, .h-bg2 .pic2 {
    position: absolute;
    left: 50%;
    margin-left: -1280px; 
    top: 0px;
}
video {
    height: 700px;
    width: 2560px;
    object-fit: contain;
}
.h-bg2 .play-icon {
    position: absolute;
    top: 226px;
    left: 50%;
    margin-left: -30px;
    width: 100px;
    height: 100px;
    background: url('../img/06.png') no-repeat;
}
.h-bg3{
 height:620px;
 background: url('../img/05.jpg') no-repeat center;
}
.h-bg3 .text-box{
    position: absolute;
     top: 174px;
    right: 50px;
    width: 476px;
    text-align: right;
}
.h-bg3 .text-box .title{
    font-size:40px;

}
.h-bg3 .txt{
    font-size:16px;
    line-height: 28px;
    margin-top:24px;
}
.h-bg4{
 height:779px;
 background: url('../img/04.jpg') no-repeat center;
}
.h-bg4 .text-box{
    padding: 170px 0 0 57px;
    width: 400px;
    color: #fff;
}
.h-bg4 .text-box .txt{
    margin-top: 24px;
    font-size: 16px;
    line-height: 30px;
}
.h-bg4 .text-box .title{
    font-size:40px;
}
.method-list{
    position: relative;
    margin-top: 35px;
    margin-left: -40px;

}
.method-list li{
    float:left;
}
.method-list li img{
    margin:0 40px;
}
.method-list li span{
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
}
.h-bg5{
 height:810px;
 background:url('../img/09.jpg') no-repeat  center;
}
.h-bg5  .text-box{
    position: absolute;
    top:604px;
    left: 50%;
    width: 752px;
    margin-left: -376px;
    text-align: center;
    color: #fff;
}
.h-bg5 .text-box .title{
    margin-bottom:0px;
}
.h-bg5 .text-box .title {
    margin-bottom: 0px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 100;
}

.h-bg6{
 height:620px;
 background:url('../img/10.jpg') no-repeat center;

}
.h-bg6 .text-box{
    position: absolute;
    top: 160px;
    right: 105px;
    width: 382px;
    text-align: right;
}
.h-bg6 .text-box .title{
   font-size:40px;
}
.h-bg7{
    height:621px;
    background:url('../img/11.jpg') no-repeat center;
   }
.h-bg7 .wrapper {
    height: 620px;
}
.h-bg7 .text-box {
    padding: 178px 0 0 60px;
    width: 386px;
}
.h-bg7 .text-box .title {
    margin-bottom:0;
    font-size: 40px;
}
.text-box .title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 100;
}
.text-box .txt {
    line-height: 28px;
}
.text-box .txt {
    margin-top: 24px;
    font-size: 16px;
    line-height: 30px;
}
.bom-parameter-tips {
    background-color: #f5f5f5;
    padding: 35px 0;
    margin-bottom:-40px;
}
.bom-parameter-tips .inner {
    width: 966px;
    margin: 0 auto;
    color: #818181;
    line-height: 29px;
    font-size: 16px;
}
.bom-parameter-tips .inner p {
    position: relative;
    padding-left: 17px;
}