
/*公共样式*/
.font-b-h2{
    font-size:44px;
    line-height: 60px;
    color:#dbb073;
    font-weight: bold;
}
.font-b-p{
    font-size:16px;
    line-height: 30px;
    color:#dbb073;
    margin-top:24px;
}
.section{
    overflow:visible;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    display: block; 
}

.b_bg1{
    height:855px;
    background-color:#5f020a;
    margin:0 auto;
}

.b_bg1 .wrapper-b{
    height:855px;
}
.text-box-b{
    padding:296px 0 0 60px;
}
.text-box-b .txt-b{
    color:#ae7a63;
    margin-top:15px;
    padding-top:15px;
    width:385px;
    border-top:1px solid #ae7a63;
}
.b_bg2{
    height: 385px;
    margin-top:-1px;
    background-color:#1a1a1a;
}
.b_bg2 .wrapper-b{
    height:385px;
}
.b_bg2 .wrapper-b .txt-b_item{
    float: left;
    padding:48px 0 48px 0;
    margin-left:80px;
}
.b_bg2 .wrapper-b .txt-b_item li{
    float: left;
    width:280px;
    height:104px;
    margin:34px 0;
    color:#ae7a63;
}
.wrapper-b .txt-b_item li h3{
    font-size:34px;
    margin-bottom:20px;
}
.b_bg3{
    height: 2630px;
    background-color:#5f020a;
}
.b_bg3 .wrapper-b{
    height: 2630px;
}
.txt-b_box{
    color:#ae7a63;
    margin:0 auto;
    padding-top:143px;
    width:866px;
    text-align:center;
}

.b_bg3 .wrapper-b .box_pad{
    padding-top:1280px;
}
.box_pad ul{
float: left;
margin-left: 300px;
margin-top:50px;
}
.box_pad ul li{
    float: left;
}
.box_pad ul .left-b{
    margin-right:100px;
}
.box_pad ul li img{
    vertical-align: top;
    border:none;
}
.b_bg4{
    height:856px;
    background-color:#121212;
}
.b_bg4 .wrapper-b{
    height: 760px;
}
.b_bg4 .wrapper-b .img-b{
    height:390px;
    padding-top:96px;
}
.img-b .left-b_img{
    margin-right:10px;
}
.bottom-b_box{
    margin-top:68px;
    color: #ae7a63;
}
.bottom-b_box .txt-b{
    width:490px;
    padding:0 50px 0 50px;
    float: left;
}
.bottom-b_box .txt-b h2{
font-size:26px;
}

.b_bg5{
    background-color: #0d1325;
}
.b_bg5 .wrapper-b{
    height:798px;
}
.b_bg5 .text-b_box{
    width:800px;
    height:150px;
    margin:0 auto;
    color:#dbb073;
    text-align: center;
    padding:110px 0;
}

.wrapper-b .icon-box-b{
    height:300px;
}
.icon-box-b li{
    width:220px;
    height:300px;
    float: left;
    padding:0 40px;
    text-align: center;
}
.icon-box-b li .title-b{
    color: #1973de;
    font-size:30px;
    margin-top:40px;
}
.icon-box-b li .p-b{
    color: #1973de;
    font-size:16px;
    margin-top:20px;
}

.b_bg6{
    background-color: #050b16;
    margin-top:-1px;
}
.b_bg6 .wrapper-b{
    height:1255px;
}
.b_bg6 .text-b{
    color:#ae7a63;
    width:1100px;
    text-align: center;
    margin:0 auto;
    padding-top:110px;
}

.b_bg6 .icon-b-box2{
    width:460px;
    height:150px;
    margin:0 auto;
    padding-top:60px;
}

.icon-b-box2 li{
    width:80px;
    height:120px;
    padding:0 30px;
    text-align: center;
    float: left;
}
.icon-b-box2 li img{
    vertical-align: top;
}
.icon-b-box2 li .icn-p-b{
    font-size:16px;
    margin-top:20px;
    color: #dbb073;
}
.icon-b-box2 li .first-liyin{
    margin-top:32px;
}
.b_bg7{
    background-color: #580502;
}
.b_bg7 .wrapper-b{
    height:975px;
    position: relative;
}
.b_bg7 .text-b-box{
    position: absolute;
    top:237px;
    right:110px;
    width:402px;
    text-align: right;
    color:#dbb073;
}
.b_bg7 .icon-box{
    position: absolute;
    width:382px;
    height:150px;
    top:590px;
    right:110px;
}
.icon-box li{
    width:100px;
    height:120px;
    float: left;
    text-align: center;
    padding:0 13px;
}
.icon-box li .li-b_box{
    width:100px;
    height:37px;
    text-align: center;
}
.icon-box li .txt-b{
    margin-top:20px;
    white-space: nowrap;
}
.b_bg8{
    background-color: #000;
    margin-top:-1px;
}
.b_bg8 .wrapper-b{
    height:1060px;
}
.b_bg8 .text-b-box{
    padding-top:112px;
    width:850px;
    margin:0 auto;
    color:#fff;
    text-align: center;
}
.b_bg8 .text-b-box h2{
    color:#fff;
}
.b_bg8 .text-b-box p{
    color:#fff;
}
.b_bg8 .icon-b-box{
    width:1000px;
    height:150px;
    margin: 0 auto;
    padding-top:608px;
}
.b_bg8 .icon-b-box li{
    width:165px;
    height:120px;
    float: left;
    text-align: left;
    padding:0 42px;
}
.icon-b-box li h3{
    color:#1973de;
    font-size:36px;
}
.icon-b-box li p{
    color: #fff;
    font-size:16px;
    margin-top:20px;
    white-space: nowrap;
}
.b_bg9{
    background-color: #0b1325;
}
.b_bg9 .wrapper-b{
    height:1091px;
}
.b_bg9 .text_b_box{
    padding-top:110px;
    width:670px;
    height:150px;
    color:#fff;
    text-align: center;
    margin:0 auto;
}
.b_bg9 .text_b_box h2{
    color:#fff;
}
.b_bg9 .text_b_box p{
    color:#fff;
}

.b_bg10{
    background-color: #78090c;
    margin-top:-1px;
}
.b_bg10 .wrapper-b{
    height:1058px;
}
.b_bg10 .text_b_box{
    padding-top:120px;
    width:970px;
    text-align: center;
    margin:0 auto;
}
.b_bg11{
    background-color:#1b1610;
}
.b_bg11 .wrapper-b{
    height:379px;
}
.b_bg11 ul{
    width:1200px;
    padding-top:84px;
}
.b_bg11 ul li{
    width:160px;
    height:120px;
    float: left;
    padding:0 20px;
    text-align: center;
}
.b_bg11 ul li p{
    color:#c39e6a;
    font-size: 16px;
    margin-top:20px;
    white-space: nowrap;
}
.b_bg11 ul li h3{
    font-size:30px;
    color:#c39e6a;
}
.b_bg12{
    background-color: #09090b;
}
.b_bg12 .wrapper-b{
    height:1000px;
}
.b_bg12 .img-b_box{
    padding-top:90px;
}
.img-b_box .left-img-b{
    width:525px;
    float: left;
    margin-right: 20px;
}
.img-b_box .left-img-b .img2-b{
    margin-top:15px;
}
.img-b_box .right-img-b{
    width:655px;
    float: left;
}

.b_bg13{
    background-color: #0c080b;
}
.b_bg13 .wrapper-b{
    height:900px;
    position: relative;
}
.b_bg13 .silder-box-b{
    position: relative;
    width:948px;
    height:900px;
    margin:0 auto;
}
.silder-box-b .bx-wrapper-b{
    max-width: 100%;
    margin:0 auto;
    position: relative;
}
.bx-wrapper-b .bx-viewport-b{
    width:100%;
    height:801px;
    position: relative;
    overflow: hidden;
}
.bx-viewport-b ul{
    width:auto;
    position: relative;
}
.bx-viewport-b ul li{
    position: absolute;
    opacity: 0;
    width:948px;
    z-index: 5;
}
.bx-viewport-b ul .active{
    opacity: 1;
}
.bx-viewport-b ul li .text-box_b{
    padding-top:84px;
    width:670px;
    height: 200px;
    margin:0 auto;
    color:#d4aa6f;
    text-align: center;
}
.bx-viewport-b ul li .video-b{
    margin-left:23px;
    margin-top:21px;
    margin-bottom:10px;
    
}
.bx-viewport-b ul li .img-bg-b{
    position: absolute;
    top:284px;
    left: 0;
}
.bx-viewport-b ul li .bot-txt-b{
    text-align: center;
    margin-top:30px;
}
.bx-viewport-b ul li .bot-txt-b span{
    color:#d4aa6f;
    padding:0 25px;
    font-size:12px;
}
.bx-viewport-b ul li .bot-txt-b .qian{
    opacity: 0.3;
}
.bx-wrapper-b .bx-btn-b span{
    position: absolute;
    margin-top:-16px;
    width:100px;
    height:100px;
}
.bx-wrapper-b .bx-btn-b .prev-b{
    width:82px;
    height:82px;
    background-image: url(../img/7pluls/prev.jpg);
    background-position-y:0px;
    background-repeat: no-repeat;
    top:492px;
    left:-110px;
}
.bx-wrapper-b .bx-btn-b .next-b{
    width:82px;
    height:82px;
    background-image: url(../img/7pluls/next.jpg);
    background-repeat: no-repeat;
    background-position-y:0px -180px;
    top:492px;
    right:-110px;
}

.b_bg14{
    background-color: #050B17;
}
.b_bg14 .wrapper-b{
    height:1000px;
}
.b_bg14 .text_b-boxs{
    padding-top:110px;
    width:770px;
    color:#fff;
    text-align: center;
    margin:0 auto;
}
.b_bg14 .text_b-boxs h2{
    color:#fff;
}
.b_bg14 .text_b-boxs p{
    color:#fff;
}

.b_bg15{
    background-color: #111113;
}
.b_bg15 .wrapper-b{
    height:900px;
}
.b_bg15 .text_b-box{
    padding-top:118px;
    width:840px;
    color:#fff;
    text-align: center;
    margin:0 auto;
}
.b_bg15 .text_b-box h2{
    color:#fff;
}
.b_bg15 .text_b-box p{
    color:#fff;
}

.b_bg16{
    background-color: #09090a;
}
.b_bg16 .wrapper-b{
    height:1140px;
}
.b_bg16 .text_box_b{
    padding-top:110px;
    width:850px;
    height:230px;
    color:#fff;
    text-align: center;
    margin:0 auto;
}
.b_bg16 .text_box_b h2{
    color:#fff;
}
.b_bg16 .text_box_b p{
    color:#fff;
}
.b_bg16 .video-box-b{
    width:1200px;
    height:670px;
    margin:0 auto;
    text-align: center;
    color: #fff;
    position: relative;
}

.b_bg17{
    background-color: #180809;
}
.b_bg17 .wrapper-b{
    height:1245px;
}
.b_bg17 .b-text-box{
    padding-top:110px;
    width:648px;
    text-align: center;
    margin:0 auto;
}

.b_bg18{
    background-color: #2f2f2f;
}
.b_bg18 .wrapper-b{
    padding:15px 0 80px;
}
.b_bg18 .tips-box-b{
    margin:58px auto 0;
    width:984px;
    line-height: 30px;
    font-size:14px;
    color:#7f7f80;
}
.tips-box-b h3{
    margin-bottom: 16px;
    font-size:18px;
    font-weight: bold;
}

   
 
