body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
ul,ol{list-style:none;}
body{color: #121212; font:12px/1.5 "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",arial,sans-serif;-webkit-text-size-adjust:none; -webkit-font-smoothing:antialiased}
select,input,button{vertical-align:middle;font-size:100%;}
fieldset,img{border:0 none;}
em{font-style:normal;}
.clear{clear:both;display:block;height:0;visibility:hidden;font:0/0 arial;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.clearfix{*zoom:1;}
a{
text-decoration: none;	
}
a:hover{ color: #10bad1;}
img{
border: 0 none;	
}
.nav_d2{
width: 100%;
height: 50px;
z-index: 8;
background-color: #f1f1f1;	
}
.wrapper{
width: 1200px;
margin: 0 auto;	
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
font-size: 0;
}
.logo_d2{
float: left;
margin-top: 12px;	
}
img{
vertical-align: top;
border: 0 none;	
}
.logo_d2 img{
width:64px;
height:14px;	
}
.nav_d2 .links_d2{
float: right;
margin: 10px 0 0;
font: 14px/30px "microsoft yahei";
}
.sub-nav .links_d2 a{
cursor: pointer;
color: #121212;	
}
.nav_d2 .links_d2 a{
display: inline-block;
margin-left:30px ;

transition: all .2s linear;
}
.cur_d2{
color: #10BAD0;
}
.btn_d2{
margin-left: 40px;
width: 84px;
height: 30px;
background-color: #10BAD0;
text-align: center;
border-radius: 2px;
color: #fff;	
}
.section{
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: top-center;

}
.banner_d2{
position: relative;
top: 0;
left: 50%;
margin-left: -1280px;
width: 2560px;
height: 935px !important;	
}
.mod_d2{
background-color: #000;	
}
.wrapper_d2{
width: 1600px;	
position: relative;
margin-left: -200px;

}
.text_d2{
text-align: center;	

}
.mod_d2 .text_d2{
padding-top: 74px;
width: 700px;
margin: 0 auto;	
}

.text_d2 .title{
font-size: 44px;
line-height: 60px;
font-weight: bold;
color: #fff;	
}
.text_d2 .txt.white-color{
color: #fff;	
}
.text_d2 .txt{
margin-top: 24px;
font-size: 16px;
line-height: 30px;	
}
.mod_d2 img{
display: block;
height: 820px;
margin: 40px auto 0;	
}
img{
vertical-align: top;	
}
.bxslider_d2 .wrapper{
height: 248px;	
}
.bxslider_d2 .text_d2{
padding: 74px 0 32px 0;
width: 700px;
margin: 0 auto;	
text-align: center;
}
.txt-color_d2{
color: #333;
margin-bottom:26px ;
font-size: 44px;
font-weight: bold;
line-height: 60px;	
}
.color_d2{
font-size: 16px;	
}
.lb_d2 .bxslider-wrap{
position: relative;
top: 0;
left: 50%;
margin-left:-1280px ;
width: 2560px;
height: 800px ;	
}